@using Internet_Shop.ViewModels;
@model Internet_Shop.ViewModels.AddProductViewModel

@{
    ViewBag.Title = "AddProduct";
}

<h2>AddProduct</h2>

@section scripts{

    <script src="~/scripts/ShoppingCart.js"></script>
    <script src="~/scripts/categories.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/scripts/jquery-1.8.2.js"></script>
}



@using (Html.BeginForm())
{
   <p> @Html.DropDownListFor(model => model.ProductType, Model.ListTypes, new { onchange = "this.form.submit();" }) </p>
}



@if (HttpContext.Current.Request.RequestType == "POST")
{
    {
        Html.RenderPartial("~/Views/PartialProduct/" + "Add" + Model.ProductType + ".cshtml", Model);
    }
}
