@{
    ViewBag.Title = "Welcome";
}

@section scripts{
    <script src="~/scripts/ShoppingCart.js"></script>
    <script src="~/scripts/categories.js"></script>
}

<div style="text-align:center">
    <p style="font-size:30px"> Welcome</p>
    <p style="font-size:20px">
        We are glad to see you in ours the Internet - Shop <br >
        You can use a tree of categories which is located in the left part of the website, or to use search, on the right side, to find the product interesting you. <br>
        Successful purchases!:)
    </p>
</div>