@{
    ViewBag.Title = "Options";
}

<h2>Options</h2>

<div class="blockCategories">
    <a class="blockCategoriesLink" href="/Product/AddProduct">Add Product</a>
</div>

<div class="blockCategories">
    <a class="blockCategoriesLink" href="/Product/PurchasedProducts">Sold Products</a>
</div>